img {
	height: 300px;
	width: auto;
	max-width: 300px;
	border: dotted;
	padding: 10px;
	margin: auto;
	float: left;
}

body {
	background: #305275;
}

.figure {
	padding: 10px;
	margin: 5px;
	float: left;
	radius: 5px;
}

.figure:hover {
	box-shadow: 0 0 10px #ccc;
}

.header {
  margin: 0 -100%;
  padding: 0.5em 100%;
  background: #61BAE1;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Playball', cursive;
  width: 100%;
  height: 70px;
}

.header > p {
	font-size: 24px;
	clear: both;
}

.caption {
	text-align: center;
	color: white;
	font-size: 14px;
	opacity: 0.1;
	font-family: 'Playball', cursive;
}

.row {
	clear: both;
	padding: 10px;
	margin: 5px;
	border: solid #F5DC27;
	float: left;
}

.footer {
	margin: 0-100%;
	padding: 0.5em 100%;
	background: #61BAE1;
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0;
}

p {
	text-align: center;
}

.figure:hover .caption {
	opacity: 0.9;
}

.grid {
	margin-top: 80px;
	min-height: 100%;
	margin-bottom: -142px;
}

.grid:after {
	content: "";
	display: block;
}